.sidebar-wrap{
    position: absolute;
    top: 100%;
    left: 0;
    display: grid;
    overflow: hidden;
    width: 100%;
    color: white;
    background-color: rgba($color: #000, $alpha: 0.7);
    box-shadow: 0 5px 30px -5px #ff0007;
    transition: grid-template-rows 0.2s linear;
    backdrop-filter: blur(5px);
    grid-template-rows: 0fr;

    &.open{
        grid-template-rows: 1fr;
    }

    .sidebar-scaler{
        display: flex;
        overflow: hidden;

        .sidebar-block{
            padding-top: 15px;
            padding-bottom: 20px;
            flex: 1;

            &.sidebar-left{
                padding-left: 15px;
            }

            .title{
                margin-bottom: 20px;
                color: #ff0007;
            }

            .game-link{
                margin-top: 20px;
            }

            .bbin-link{
                margin-top: 20px;
            }

            .contact-btn{
                margin-top: 30px;
                padding: 10px;
                width: fit-content;
                border: 1px solid #fff;
                border-radius: 8px;
            }
        }
    }
}