html,
body,
.app {
    height: 100%;
    font-family: "\5FAE\8EDF\6B63\9ED1\9AD4", "Microsoft JhengHei", "微软雅黑", arial, helvetica, sans-serif !important;
    user-select: none;

    &::-webkit-scrollbar {
        display: none;
    }

    .rule-body * {
        user-select: text;
    }
}
