.share-wrap{
    position: absolute;
    top: 100%;
    left: 0;
    display: grid;
    overflow: hidden;
    width: 100%;
    color: white;
    background-color: rgba($color: #000, $alpha: 0.7);
    box-shadow: 0 5px 30px -5px #ff0007;
    transition: grid-template-rows 0.2s linear;
    backdrop-filter: blur(5px);
    grid-template-rows: 0fr;

    &.open{
        grid-template-rows: 1fr;
    }

    .share-scaler{
        display: flex;
        overflow: hidden;

        .share-container{
            display: flex;
            align-items: center;
            padding: 25px 0;
            width: 100%;
            flex-direction: column;

            .qrcode{
                width: 115px;
            }

            .url-copy-container{
                display: flex;
                align-items: center;
                gap: 8px;
                margin-top: 15px;
                padding: 4px 10px;
                background-color: #ff000883;
                border-radius: 17px;

                .copy-icon{
                    width: 15px;
                }
            }
        }
    }
}