.header-wrap{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15.6px 25.2px;
    width: 100%;
    background-color: rgba($color: #000, $alpha: 0.7);
    backdrop-filter: blur(5px);
    z-index: 10;

    @media (width >= 576px) {
        margin: 0 auto;
        width: 576px;
    }

    .logo{
        width: 60px;
        height: fit-content;

        @media (width >= 576px) {
            width: 82.5px;
        }

        img{
            width: 100%;
        }
    }

    .border-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background: linear-gradient(90deg,  #f51b0f 0%, #282828 50%, #f51b0f 100%);
    }

    .header-right{
        display: flex;
        align-items: center;
        color: white;

        .lang-selector{
            display: flex;
            margin-right: 18px;

            .lang-icon{
                width: 16.8px;
                height: 16.8px;
            }

            .lang-title{
                margin-left: 8px;
                cursor: pointer;
            }

            .lang-selection{
                display: flex;

                div{
                    margin-left: 8px;
                }

                .lang{
                    cursor: pointer;

                    &.active{
                        color: #f51b0f;
                    }
                }
            }
        }

        .share{
            display: flex;
            align-items: center;
            margin-right: 18px;
            cursor: pointer;

            .share-icon{
                margin-right: 8px;
                width: 14.4px;
                height: 19.2px;
            }
        }

        .hamburger-menu {
            position: relative;
            width: 20px;
            height: 18px;
            cursor: pointer;

            // 漢堡選單的樣式
            .ham {
                position: absolute;
                left: 0;
                width: 100%;
                height: 3px;
                background-color: #ee3324;
                border-radius: 100px;
                transition: 0.2s;
                transform-origin: right;

                &-1 {
                    top: 0;
                }

                &-2 {
                    top: 50%;
                    transform: translateY(-50%);
                }

                &-3 {
                    bottom: 0;
                }
            }

            &.active {
                .ham {
                    scale: 1.05;

                    &-1 {
                        transform: rotate(-45deg);
                    }

                    &-2 {
                        display: none;
                    }

                    &-3 {
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
}