.game-wrap{
    overflow: scroll;
    padding: 30px 20px 50px;
    color: white;

    .banner{
        position: relative;
        width: 100%;

        img{
            width: 100%;
        }

        .banner-btn-list{
            position: absolute;
            right: 4%;
            bottom: 0;
            display: flex;
            justify-content: flex-end;
            width: 100%;
            transform: translateY(20%);

            .demo{
                margin-right: 3%;
                width: 40.6%;
                filter: drop-shadow(0 5px 10px #ff0007);
            }

            .share{
                width: 13%;
                filter: drop-shadow(0 5px 10px #ff0007);
            }
        }
    }

    .intro{
        position: relative;
        margin-top: 50px;

        .intro-title{
            display: flex;
            align-items: center;

            .title-icon{
                width: 37.5px;
            }

            .title-text{
                margin-left: 12.5px;
                font-size: 32px;
                font-weight: 900;
                color: #ec0e14;
            }
        }

        .left-border{
            position: absolute;
            top: 0;
            left: 18.75px;
            width: 1px;
            height: 100%;
            background: linear-gradient(
                180deg,
                rgba(255,255,255,0) 20%,
                rgba(255,255,255,1) 50%,
                rgba(255,255,255,0) 100%
            );
        }

        .intro-content{
            margin-top: 27px;
            padding-left: 50px;
            line-height: 24px;

            .heading{
                font-size: 20px;
                font-weight: 900;
            }

            .content{
                margin-top: 18px;
                font-size: 15px;
            }
        }
    }

    .feature{
        position: relative;
        margin-top: 50px;

        .feature-title{
            display: flex;
            align-items: center;

            .title-icon{
                width: 37.5px;
            }

            .title-text{
                margin-left: 12.5px;
                font-size: 32px;
                font-weight: 900;
                color: #ec0e14;
            }
        }

        .left-border{
            position: absolute;
            top: 0;
            left: 18.75px;
            width: 1px;
            height: 100%;
            background: linear-gradient(
                180deg,
                rgba(255,255,255,0) 20%,
                rgba(255,255,255,1) 50%,
                rgba(255,255,255,0) 100%
            );
        }

        .feature-content{
            margin-top: 27px;
            padding-left: 50px;
            line-height: 24px;

            .heading{
                font-size: 20px;
                font-weight: 900;
            }

            .content{
                margin-top: 18px;
                font-size: 15px;
            }
        }
    }


    .iframe-warp{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba($color: #000, $alpha: 0.7);

        iframe{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .close{
            position: absolute;
            top: 15%;
            right: 15%;
            width: 52px;
            transform: translate(50%, -50%);
        }
    }
}